<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="icon" href="assets/img/icon.jpg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marco's webseite</title>
    <link rel="apple-touch-icon-precomposed" href="assets/img/icon.jpg"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/img/icon.jp"/>
    <meta name="description" content="Marco's Webseite"/>
    <meta name="keywords" content="Marco's Webseite"/>
    <meta property="og:image" content="assets/img/banner.png" />
    <meta property="og:title" content="Marco's Webseite | Über mich"/>
    <meta property="og:url" content="https://aufgabe.dyplay.net/"/>
    <meta property="og:site_name" content="Marco's Webseite"/>
    <link rel="stylesheet" href="" />
</head>
<body>
    
</body>
</html>